---
  const platform = "bsky.social"
  const username = "aubright"
---

<footer>
  <p>I have exactly one public social media account, on <a href={`https://www.${platform}/profile/${username}`}>{platform}</a></p>
</footer>